body {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
}

div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}
